<div class="container mt-4" *ngIf="recette">
    <div class="row">
        <img [src]="recette.image" alt="{{ recette.titre }}" class="img-fluid rounded mb-3 recipe-detail-image">
        <h1>{{ recette.titre }}</h1>
    </div>
    <div class="row">
    <div class="col-md-6">
        <img [src]="recette.image" class="img-fluid rounded recipe-detail-image" />
    </div>
    <div class="col-md-6">
        <h2>{{ recette.titre }}</h2>
        <p><strong>Durée :</strong> {{ recette.duree }} min</p>
        <p><strong>Cuisson :</strong> {{ recette.cuisson }} min</p>
        <p><strong>Difficulté :</strong> {{ recette.difficulte }}</p>
        <p><strong>Jour :</strong> {{ recette.jour }}</p>
        <p><strong>Type :</strong> {{ recette.type }}</p>
        <p *ngIf="recette.nutrition"><strong>Valeurs nutritionnelles :</strong> {{ recette.nutrition }}</p>
    </div>
    </div>
    <hr />
    <div class="row mt-3">
    <div class="col-md-6">
        <h4>🥕 Ingrédients</h4>
        <ul>
          <li *ngFor="let ing of recette.ingredients">{{ ing }}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>👨‍🍳 Préparation</h4>
        <ol>
          <li *ngFor="let step of recette.preparation">{{ step }}</li>
        </ol>
    </div>
    </div>
    <div class="mt-4">
        <a [routerLink]="['/']" class="btn btn-secondary">
        ⬅ Retour à la liste
        </a>
    </div>
</div>
